*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'proxima nova', sans-serif;

  background: #FFFFFC;

  color: #333;
}

.object-container {
  display: flex;
  max-width: 64rem;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.noscript-overlay {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
