header {
  background: #F8B000;

  border-bottom: 2px solid #6EC8E5;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 40rem;
    margin: 0 auto;
    padding: 0.75rem;
  }

  .button-logo {
    flex-grow: 1;
    text-align: center;
  }

  .logo {
    height: 1.75rem;
  }

  .button {
    display: block;
  }

  .button svg {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    fill: #fff;
  }
}
