header {
  background: #F8B000;

  border-bottom: 2px solid #6EC8E5;

  .header-inner {
    position: relative;
    max-width: 40rem;
    margin: 0 auto;
    padding: 0.75rem;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 5rem;
  }

  .button svg {
    display: block;
    position: absolute;
    width: 1.75rem;
    height: 1.75rem;
    top: 0.75rem;
    fill: #fff;
  }

  .settings svg {
    left: 0.75rem;
  }

  .saved svg {
    right: 0.75rem;
  }
}